/**
* Content
* --------------------------------------------------
*/

.ecmoodle-content {

    .left-section {
      margin-top: 30px;

        .item {
          display: flex;
          align-items: center;
          margin-top: -40px;

            a {
              height: 81px;
              background: rgba(white, 0.7);
              margin: 0 0 0 -62px;
              padding: 0 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 87%;
              text-align: center;
              border-top-right-radius: 41px;
              border-bottom-right-radius: 41px;
              line-height: 110%;
              font-weight: 600;
              cursor: pointer;
            }
            .number-container {
                height: 180px;
                width: 125px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
            .number-container-border {
                border: 7px solid white;
                border-radius: 50%;

                span {
                    border-radius: 50%;
                    font-size: 40px;
                    color: white;
                    font-weight: 600;
                    height: 67px;
                    width: 67px;
                    display: inline-flex;
                    border: 5px solid;
                    position: relative;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;

                    &:before {
                      content: "";
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 50%;
                      z-index: -1;
                    }
                }
            }

            &:first-child {
                a {
                    color: $first-item-color;
                }
                .number-container {
                    background: url('#{$images-path}img_item_1.png') no-repeat center/cover;
                }
                .number-container-border {
                    span {
                        background: $first-item-shadow;
                        border-color:  $first-item-color;

                        &:before {
                            background: $first-item-color;
                        }
                    }
                }
            }
            &:nth-child(2) {
                a {
                    color: $second-item-color;
                }
                .number-container {
                    background: url('#{$images-path}img_item_2.png') no-repeat center/cover;
                }
                .number-container-border {
                    span {
                        background: $second-item-shadow;
                        border-color:  $second-item-color;

                        &:before {
                            background: $second-item-color;
                        }
                    }
                }
            }
            &:nth-child(3) {
                a {
                    color: $third-item-color;
                }
                .number-container {
                    background: url('#{$images-path}img_item_3.png') no-repeat center/cover;
                }
                .number-container-border {
                    span {
                        background: $third-item-shadow;
                        border-color:  $third-item-color;

                        &:before {
                            background: $third-item-color;
                        }
                    }
                }
            }
            &:nth-child(4) {
                a {
                    color: $fourth-item-color;
                }
                .number-container {
                    background: url('#{$images-path}img_item_4.png') no-repeat center/cover;
                }
                .number-container-border {
                    span {
                        background: $fourth-item-shadow;
                        border-color:  $fourth-item-color;

                        &:before {
                            background: $fourth-item-color;
                        }
                    }
                }
            }
        }
    }
    .right-section {
        img {
            margin: auto;
        }
    }

    @media (min-width: 992px) {
        & {
            display: flex;
            align-items: flex-end;
        }
        .first-page & {
            .left-section .item a {
                font-size: 20px;
            }
        }
        .second-page & {
            .left-section .item a {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 991px) {
        & {
          .right-section {
              img {
                  max-width: 290px;
              }
          }
        }
        .first-page & {
            .left-section .item a {
                font-size: 18px;
            }
        }
        .second-page & {
            .left-section .item a {
                font-size: 14px;
            }
        }
    }
}
