/**
* General
* --------------------------------------------------
*/

.container {
    background: url('#{$images-path}img_background.png') no-repeat 0 100%/contain;
}
.footer {
    height: 70px;
}
.first-page {
    .footer {
        @include shadow-properties($first-page-header-bg-color, $first-page-header-bg-shadow);
    }
}
.second-page {
    .footer {
        @include shadow-properties($second-page-header-bg-shadow, $second-page-footer-bg-shadow);
    }
}

@media (max-width: 991px) {
    .container {
        background: url('#{$images-path}img_background.png') no-repeat 0 100%/cover !important;
    }
}
