/**
* Variables
* --------------------------------------------------
*/

$images-path:                      "../img/";

 // Colors
 // -------------------------------
$header-bg-color:                 #5a407a !default;
$header-bg-shadow:                #7859a5 !default;
$first-item-color:                #d68a2b !default;
$first-item-shadow:               #e59a48 !default;
$second-item-color:               #ca622c !default;
$second-item-shadow:              #e27a4d !default;
$third-item-color:                #a34486 !default;
$third-item-shadow:               #b75ea0 !default;
$fourth-item-color:               #613d7c !default;
$fourth-item-shadow:              #9a83aa !default;
//Measures
// -------------------------------
$main-header-height:              132px;
