/**
* Variables
* --------------------------------------------------
*/

$images-path:                      "../img/";

 // Colors
 // -------------------------------
$header-bg-color:                 #5a407a !default;

//Measures
// -------------------------------
$main-header-height:              132px;
