<!DOCTYPE html>
<html lang="es">
<head>
  <title>ORGANIZACIÓN Y FUNCIONAMIENTO DEL SISTEMA EDUCATIVO EN COLOMBIA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container first-page">
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="../img/logo_ec.png" class="img-responsive" alt="Logo Escuela Corporativa" width="150">
            </div>
            <h1>
                APROXIMACIÓN A LA ORGANIZACIÓN Y FUNCIONAMIENTO DEL SISTEMA EDUCATIVO EN COLOMBIA
            </h1>
        </div>
    </div>
    <div class="row buttons-container">
        <a href="#" class="btn btn-warning" role="button">Bienvenida al conversatorio</a>
        <a href="#" class="btn btn-warning" role="button">Aprendizaje organizacional</a>
    </div>
    <div class="row ecmoodle-content">
        <div class="col-md-6 left-section">
            <div class="item">
                <div class="number-container">
                    <div class="number-container-border">
                        <span>
                            1
                        </span>
                    </div>
                </div>
                <label>
                    Contexto de la escuela corporativa del MEN
                </label>
            </div>
            <div class="item">
                <div class="number-container">
                    <div class="number-container-border">
                        <span>
                            2
                        </span>
                    </div>
                </div>
                <label>
                    Estructura y organización del sector educativo en Colombia
                </label>
            </div>
            <div class="item">
                <div class="number-container">
                    <div class="number-container-border">
                        <span>
                            3
                        </span>
                    </div>
                </div>
                <label>
                    Estructura organizacional y funcional del MEN
                </label>
            </div>
            <div class="item">
                <div class="number-container">
                    <div class="number-container-border">
                        <span>
                            4
                        </span>
                    </div>
                </div>
                <label>
                    Política pública del sector educativo
                </label>
            </div>
        </div>
        <div class="col-md-6 right-section">
            <img src="../img/img_bg_pair.png" class="img-responsive" width="60%">
        </div>
    </div>
    <div class="row footer">
    </div>
</div>

</body>
</html>
